<mat-toolbar color="primary" class="flex-1">
    <div class="toolbar-content">
        <button mat-icon-button class="example-icon" aria-label="Home" (click)="onHomeIconClicked()">
            <mat-icon>home</mat-icon>
        </button>
        <span class="spacer"></span>
        <span class="title">Contacts Manager</span>
        <span class="spacer"></span>
        <button mat-raised-button color="white" class="create-button" (click)="CreateClicked()">Create</button>
    </div>
</mat-toolbar>
