<div class="flex-container">
    <div class="p-8 mt-8 flex justify-center">
        <form class="shadow border w-4/12 p-4 create-form">
            <div class="flex">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" type="text" [(ngModel)]="createContact.name" required>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-full">
                    <mat-label>Phone Number</mat-label>
                    <input matInput name="phoneNumber" type="number" [(ngModel)]="createContact.phoneNumber" min="1" required>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-full">
                    <mat-label>Choose Category</mat-label>
                    <mat-select [(ngModel)]="cId" name="Category">
                        @for(c of cate; track c)
                        {
                            <mat-option [value]="c.id">{{c.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="create-button">
                <button mat-raised-button color="primary" (click)="create()">Create</button>
            </div>
        </form>
    </div>
</div>
